<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
      .panel > .panel-heading {
          background-image: none;
          background-color: #006666;
          color: white;
          border: 1px solid #006666; 
      }

      .panel {
          border: 1px solid #006666;
      }
</style>

<body>
    <div ng-app="myApp" ng-controller="myCtrl" style="margin-left:10%;margin-right:10%;margin-top:50px;width:80%" >
        <div ng-show="allServey && !ShowResult">
            <h2>Serveys:</h2>
            <table  style="width:100%">
                <tr ng-repeat="servey in serveyList" style="border: 2px solid black;" height=50px width=1000px ng-click="OpenServey(servey)">
                    <td>
                        <center>
                            <p><b>{{servey.Title}}</b></p>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="!allServey && !ShowResult">
            <h3>Title:</h3>
            <h1>{{openServeyRes.Title}}</h1 ><br>
            <h3>Description:</h3>
            <p>{{openServeyRes.Description}}</p>
            <h3>Questions:</h3>
            <table  style="width:100%">
                    <tr ng-repeat="os in openServeyRes.Question"  height=50px width=1000px >
                        <td>
                            <center>
                                <p><b>{{os.Que}}</b></p>
                                <form>
                                    <div ng-repeat="option in os.Options">
                                        {{option}}
                                    </div>
                                    <input type="text" placeholder="Answer" ng-attr-id="{{os.id}}">
                                </form>
                            </center>
                        </td>
                    </tr>
            </table>
            <center><button type="button" value="Submit" ng-click="SubmitResponse(openServeyRes.Question)" style="width:65px; height:25px">Submit</button></center>
        </div>
        <div ng-show="ShowResult">
            <div ng-repeat="res in Response">
                <h3>Title:{{res.Title}}</h3>
                <div ng-repeat="q in res.Question">
                        <h4>Question:{{q.que}}</h4>
                        <h4>Answer:{{q.answer}}</h4>
                </div>
            </div>
        </div>            
    </div>
</body>


<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.controller('myCtrl', function($scope, $http, $timeout, $interval, $q) {
        $scope.allServey = true
        $scope.myVar=""
        $scope.service_url = "http://localhost:3000/api/v1/";
        $http(
                {
                    url: $scope.service_url + "servey/?status=active",
                    method: "GET",
                    param:{
                        "status":"active"
                    }
                }
            ).then(
                function(response) {
                    console.log(response.data)
                    $scope.serveyList = response.data.responseData
                },
                function(response) {
                    alert(response.data.message)
                }     
            ) 
        $scope.OpenServey = function(servey){
            $scope.allServey = false
            $http(
                {
                    url: $scope.service_url + "servey/?title="+servey.Title,
                    method: "GET",
                }
            ).then(
                function(response) {
                    console.log(response.data)
                    $scope.openServeyRes = response.data.responseData
                    for(var i=0;i<$scope.openServeyRes.Question.length;i++)
                    {
                        $scope.openServeyRes.Question[i]["id"]="que"+i;
                    }
                },
                function(response) {
                    alert(response.data.message)
                }     
            ) 
        }
        $scope.SubmitResponse=function(questions){
            
            var req={}
            req["title"]=$scope.openServeyRes.title;
            req["question"]=[];
            for(var i=0;i<$scope.openServeyRes.Question.length;i++){
                var temp={};
                temp["que"]=questions[i].Que;
                var anscomp=document.getElementById($scope.openServeyRes.Question[i].id)
                console.log(anscomp)
                var ans = anscomp.value
                if(ans=null)
                    ans=""
                temp["answer"]=ans;
                req["question"].push(temp);
            }
            $http(
                {
                    url: $scope.service_url + "takeservey/",
                    method: 'POST',
                    data: req,
                    headers:{
                        "token":localStorage.getItem("token")
                    }
                }
            ).then(
                function(response) {
                    alert("submitted successfully");
                    $scope.ShowResult=true
                    $scope.allServey=false
                },
                function(response) {
                    alert(response.data.message)
                }     
            )    
        }
    })

</script>

</html>
