<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
      .panel > .panel-heading {
          background-image: none;
          background-color: #006666;
          color: white;
          border: 1px solid #006666; 
      }

      .panel {
          border: 1px solid #006666;
      }
</style>

<body>
    <div ng-app="myApp" ng-controller="myCtrl" style="margin-left:10%;margin-right:10%;margin-top:50px;width:80%" >
        </div ng-show="allServey">
            <table  style="width:100%">
                <tr ng-repeat="servey in serveyList" style="border: 2px solid black;" height=50px width=1000px ng-click="OpenServey(servey)">
                    <td>
                        <center>
                            <p><b>{{servey.Title}}</b></p>
                        </center>
                    </td>
                </tr>
            </table>
        <div>

    </div>
</body>


<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.controller('myCtrl', function($scope, $http, $timeout, $interval, $q) {
        $scope.allServey = true
        $scope.service_url = "http://localhost:3000/api/v1/";
        $http(
                {
                    url: $scope.service_url + "servey/?status=active",
                    method: "GET",
                    param:{
                        "status":"active"
                    }
                }
            ).then(
                function(response) {
                    console.log(response.data)
                    $scope.serveyList = response.data.responseData
                },
                function(response) {
                    alert(response.data.message)
                }     
            ) 
        $scope.OpenServey = function(servey){
            $scope.allServey = false
            $http(
                {
                    url: $scope.service_url + "servey/?title="+servey.Title,
                    method: "GET",
                }
            ).then(
                function(response) {
                    console.log(response.data)
                    $scope.serveyList = response.data.responseData
                },
                function(response) {
                    alert(response.data.message)
                }     
            ) 
        }
    })
</script>

</html>
